$headercolor: #4D4E4E;
$bodycolor: #BABDBD;
$blogboxcolor: #92cfd8;

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $headercolor;
}

.headerli {
    float: right;
}

.headerli a {
    display: block;
    color: white;
    padding: 1.5rem;
    text-decoration: none;
}

.imagecontainer {
    position: relative;
    text-align: center;
    opacity: 0.8;
}

.welcome {
    position: absolute;
    top: 25%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.introduction {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

body {
    background-color: $bodycolor;
    text-align: center;
}

.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.blog1 {
    border-radius: 100%;
    width: 10%;
    height: 11rem;
    margin: 1%;
    align-items: center;
    background-color: $blogboxcolor;
}

.blog2 {
    border-radius: 100%;
    width: 10%;
    height: 11rem;
    margin: 1%;
    background-color: $blogboxcolor;
}

.blog3 {
    border-radius: 100%;
    width: 10%;
    height: 11rem;
    margin: 1%;
    background-color: $blogboxcolor;
}

.blog4 {
    border-radius: 100%;
    width: 10%;
    height: 11rem;
    margin: 1%;
    background-color: $blogboxcolor;
}

.blog5 {
    border-radius: 100%;
    width: 10%;
    height: 11rem;
    margin: 1%;
    background-color: $blogboxcolor;
}

.footerli {
    display: inline-block;
    color: white;
    padding: 2.5rem;
}

.footerli a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: $blogboxcolor;
}
